%contentbase {
  margin: 0 auto;
  max-width: $max-width;
  background-color: $light;

  padding: 1rem;
  margin-bottom: 5px;
}

.nav {
  @extend %contentbase;
  position: sticky;
  top: 0;
  z-index: 100;

  margin-bottom: 0px;
  border-bottom: 5px solid $bg-gray;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    gap: 1rem;
  }

  a {
    color: $link-color;
    transition: all 200ms linear;
    text-transform: uppercase;
    @include on-event {
      color: $link-active;
      &::before {
        content: '\00bb';
        color: $link-active;
        padding: 0.3rem;
      }
    }
  }
  a.active {
    transform: scale(1.05);
    &::before {
      content: '\00bb';
      color: inherit;
      color: darken($link-active, 20%);
      padding: 0.3rem;
    }
  }

  &__logo {
    a {
      font-size: 1.8rem;
      font-weight: bold;
      &:hover {
        content: none;
      }
    }
  }
}

.main {
  @extend %contentbase;

  @extend %flex-column-center;
}
