.blog-info {
  @extend %flex-column;
  cursor: pointer;
  width: 500px;
  max-width: 500px;
  height: 350px;

  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;

  background-color: darken($light, 8);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: darken($light, 2);
    h2 {
      color: $dark;
    }
  }

  &-loading {
    background-color: $light;
  }

  h2 {
    margin: 0;
  }
  .desc {
    margin: 0 0 1.2rem;
  }
  .read-time {
    display: flex;
    justify-content: space-between;
  }
  .views {
    margin: 0 0 1.2rem;
    font-size: 0.8rem;
    color: $dark;
  }

  .bottom {
    @extend %flex-center;
    justify-content: space-between;

    border-bottom: 1px solid $dark;
    .last-link {
      display: inline-flex;
      flex-direction: column;
    }
  }
}
